* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5e5;
  color: #1b2b51;
  font-family: "Roboto", sans-serif;
  /* font-weight: 300; */
  margin: 20px 100px 0 100px;
}

#profile-photo {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

#connect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#connect ul {
  display: flex;
}

#connect li {
  margin: 5px 15px;
}

#connect a {
  border: none;
  font-size: 20px;
}

#connect li:hover {
  border-bottom: 1px solid #1b2b51;
  transform: translateY(-5px);
}

#experience ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5 0 0 0;
}

#exp-list > li {
  background-color: #12244e4d;
  border-radius: 10px;
  height: 220px;
  list-style: none;
  padding-top: 10px;
  text-align: center;
  width: 300px;
}

#exp-list li > ul {
  display: flex;
  flex-direction: column;
  padding: 10px 15px 0 15px;
  text-align: left;
}

#exp-list > li > ul > li:first-child {
  font-size: 13px;
  font-weight: bold;
}

.exp-detail > li {
  font-size: 12px;
}

#skills ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#skills li {
  background-color: #73c4c74d;
  border-radius: 10px;
  height: 100px;
  list-style: none;
  padding-top: 40px;
  text-align: center;
  width: 150px;
}

header {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

header nav {
  justify-self: flex-end;
  margin-top: 50px;
  width: 50%;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header li:hover {
  transform: translateY(-5px);
  transition: all 100ms;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 50px 0 0 10px;
  width: 30%;
}

h1:hover {
  border-bottom: 1px solid #1b2b51;
  transform: translateY(-5px);
}

h2 {
  color: #22223b;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

hr {
  margin: 10px 40%;
  width: 20%;
}

li {
  list-style: none;
  margin: 5px;
}

a {
  border-bottom: 1px solid #000;
  color: #000;
  font-size: 18px;
  text-decoration: none;
}

section {
  margin: 70px 20px;
}

footer {
  text-align: end;
}
